@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
}

button {
  padding: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 42px 8px 8px;
  flex: none;
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  flex: none;
  justify-content: space-between;
  padding: 8px 42px 8px 8px;
}
